apiVersion: v1
kind: LimitRange
metadata:
  name: {{ include "ecommerce-store.fullname" . }}-limits
  labels:
    {{- include "ecommerce-store.labels" . | nindent 4 }}
spec:
  limits:
    - type: Container
      default:
        cpu: {{ .Values.limitRange.defaultCpu | default "250m" }}
        memory: {{ .Values.limitRange.defaultMemory | default "256Mi" }}
      defaultRequest:
        cpu: {{ .Values.limitRange.defaultRequestCpu | default "50m" }}
        memory: {{ .Values.limitRange.defaultRequestMemory | default "64Mi" }}
      max:
        cpu: {{ .Values.limitRange.maxCpu | default "1" }}
        memory: {{ .Values.limitRange.maxMemory | default "1Gi" }}
      min:
        cpu: {{ .Values.limitRange.minCpu | default "10m" }}
        memory: {{ .Values.limitRange.minMemory | default "16Mi" }}
    - type: PersistentVolumeClaim
      max:
        storage: {{ .Values.limitRange.maxStorage | default "5Gi" }}
      min:
        storage: {{ .Values.limitRange.minStorage | default "100Mi" }}
